@model List<testnorm.Models.BookReview>

@foreach (var review in Model)
{
    <p>
        <h4>@Html.DisplayFor(m => review.Name): <small>  @Html.DisplayFor(m => review.Review) </small></h4> 
    </p>
    <hr />
}